<ul class="nav nav-tabs" id="myTab">
	<li><%= link_to "Page", "#page", :data => {:toggle=>"tab"} %></li>
	<li><%= link_to "Edit", "#edit", :data => {:toggle=>"tab"} %></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="page">
		<h1>Wiki</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue lectus ac tempus ultricies. Maecenas varius pharetra tellus quis congue. Cras interdum tincidunt lorem, sed feugiat diam porta quis. Donec posuere mi a lacus gravida luctus. Donec rhoncus, risus ac ultrices ullamcorper, sem augue convallis augue, sed ullamcorper mi libero vitae urna. Phasellus ornare feugiat neque sit amet imperdiet. Praesent convallis, nunc sed aliquet placerat, sapien urna eleifend est, at imperdiet urna mi nec turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

		<p>Donec tincidunt lectus felis, quis dignissim ligula commodo sit amet. Sed eu nibh sed nibh consequat tempus eu eu neque. Nunc pellentesque odio et venenatis tempus. Sed vitae arcu vel lectus molestie euismod. Sed tincidunt elit nibh, quis faucibus lectus dictum placerat. Suspendisse potenti. Praesent turpis lacus, lobortis a libero ut, dictum facilisis nibh. Quisque nec ante a massa posuere mollis et sit amet sem. Aenean rutrum mauris ac fringilla condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

		<p>Proin at felis augue. Ut porta nulla dui. Fusce diam lorem, mollis vel magna sed, semper ullamcorper mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada feugiat elit. Quisque a auctor sapien. Quisque in volutpat risus. Maecenas viverra tortor sodales ante auctor, eget interdum nibh tempus. Integer molestie ipsum eget turpis viverra, eu placerat neque tempus. Phasellus ultricies lorem elit, vitae eleifend arcu interdum eget.</p>
	</div>
	<div class="tab-pane" id="edit">
		<h1>Edit Page</h1>
		<p>Sed tincidunt pellentesque urna, et condimentum ipsum sodales mollis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse dignissim velit vel metus facilisis pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis molestie odio, at vestibulum turpis. Phasellus eleifend risus nec libero elementum, sed lobortis mauris interdum. Ut nec leo imperdiet, consequat nisi at, interdum dui. In laoreet elementum mollis. Aenean molestie at nulla vitae tempor. Donec ultrices urna diam, id vehicula magna pulvinar luctus.</p>

		<p>Donec tincidunt lectus felis, quis dignissim ligula commodo sit amet. Sed eu nibh sed nibh consequat tempus eu eu neque. Nunc pellentesque odio et venenatis tempus. Sed vitae arcu vel lectus molestie euismod. Sed tincidunt elit nibh, quis faucibus lectus dictum placerat. Suspendisse potenti. Praesent turpis lacus, lobortis a libero ut, dictum facilisis nibh. Quisque nec ante a massa posuere mollis et sit amet sem. Aenean rutrum mauris ac fringilla condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

		<p>Proin at felis augue. Ut porta nulla dui. Fusce diam lorem, mollis vel magna sed, semper ullamcorper mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada feugiat elit. Quisque a auctor sapien. Quisque in volutpat risus. Maecenas viverra tortor sodales ante auctor, eget interdum nibh tempus. Integer molestie ipsum eget turpis viverra, eu placerat neque tempus. Phasellus ultricies lorem elit, vitae eleifend arcu interdum eget.</p>
	</div>
</div>
<script>
   $('#myTab a:first').tab('show') // Select first tab
</script>