
<ul class="nav nav-tabs" id="myTab">
	<li><%= link_to "Page", "#page", :data => {:toggle=>"tab"} %></li>
	<li><%= link_to "Edit", "#edit", :data => {:toggle=>"tab"} %></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="page">
		<!-- Text for home page -->
<h1>Welcome to Wiki</h1>
<h3>Brought to you by <a href="http://evanamccullough.com" target="_blank" >Evan McCullough</a></h3>
<p>This wiki gives all the features you would want from a wiki!</p>
<p>Users:</p>
<ul>
	<li>Can create and update pages</li>
	<li>Can be assigned as admins</li>
	<ul>
		<li>Admins can delete pages, create trends, and assign other admins</li>
	</ul>
</ul>
<p>Pages:</p>
<ul>
	<li>Can be updated easily by anyone</li>
	<li>Are categorized by trends</li>
	<li>Can only be removed by admins</li>
</ul>
<!-- end of text for homepage -->
		</div>
	<div class="tab-pane" id="edit">
		<h1>Edit Page</h1>
		<p>This is where you would edit the pages, but you need to be signed in first!</p>
		</div>
</div>
<script>
   $('#myTab a:first').tab('show') // Select first tab
</script>
