<%= render "shared/header" %>
<%= render "shared/left" %>
<div id="body">
<h1><%= @user.username %></h1>
<p>Admin Status: Y or N</p>
<p>Pages Made</p>
<ul id="pagesmade">
	<li>Page name with url</li>
</ul>
</div>