

<ul class="nav nav-tabs" id="myTab">
	<li><%= link_to "User", "#usershow", :data => {:toggle=>"tab"} %></li>
	<li><%= link_to "Edit", "#edit", :data => {:toggle=>"tab"} %></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="usershow">
		<h1><%= @user.username %></h1>
		<p>Admin: <%= check_box_tag 'user', 'admin', @user.admin, :disabled => true %></p>
		<p>Pages Made</p>
		<ul id="pagesmade">
			<li>Page name with url</li>
		</ul>
	</div>
	<div class="tab-pane" id="edit">
		<% render "users/edit" %>
	</div>
</div>
<script>
   $('#myTab a:first').tab('show') // Select first tab
</script>