<% if @user.errors.any? %>
<div class="alert alert-danger">
    <h3>Oops! <%= pluralize(@user.errors.count, "Error") %> in Creating Your Account:</h3>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>