<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
		<p class="text-muted navbar-text"><%= link_to "All Users", users_index_path %></p>
		<p class="text-muted navbar-text"><%= link_to "All Trends", trends_path %></p>
		<p class="text-muted navbar-text"><%= link_to "All Pages", pages_path %></p>
	</div>
</nav>