<div id="left">
  <!-- search -->
  <form class="search" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <!-- end of search -->
  <div class="panel-group" id="accordion">
    <!-- start of panel 1 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Topic #1
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
        List of a few topics
        </div>
      </div>
    </div>
    <!-- end of panel 1 -->
  </div>
</div>