<ul class="nav nav-tabs" id="myTab">
	<li><%= link_to "Pages", "#pageall", :data => {:toggle=>"tab"} %></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="pageall">
		<h1>Search results for "<%= params[:search] %>"</h1>
		<% if @page %>
			<% for page in @page %>
				<ul>
					<li><%= link_to page.title, page_path(page) %><br/>
						<small><i><%= page.summary %></i></small></li></li>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>
<script>
   $('#myTab a:first').tab('show') // Select first tab
</script>